@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn_primary" asp-area="" asp-controller="Reservation" asp-action="Index">Reservation</a>
    <a class="btn btn_primary" asp-area="" asp-controller="Camion" asp-action="Index">Camions</a>
    <a class="btn btn_primary" asp-area="" asp-controller="Voiture" asp-action="Index">Voitures</a>
</div>
